{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57b93c577e.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="shortcut icon" href="{% static 'img/icon.png'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css">
    <link rel="stylesheet" href="https://unpkg.com/primeflex/themes/saga-blue.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/redes.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/mapa.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% include 'layouts/partials/menu.html' %}
    </header>
    <main>
        {% include 'layouts/partials/redes.html' %}
        {% block content %}{% endblock %}
    </main>
    
    {% include 'layouts/partials/alerts.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if "success" in message.tags %}
                <script>
                    Swal.fire({
                    icon: 'success',
                    title: 'Felicidades',
                    text: "{{message}}",
                });
                </script>
            {% endif %}
            {% if "error" in message.tags %}
                <script>
                    Swal.fire({
                    icon: 'error',
                    title: 'Hubo un problema!',
                    text: "{{message}}",
                });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>