{% load static %}
 <!-- Alerta Ocupado-->
 <div class="modal fade" id="alert_estado" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header modalhead">
          <img class="modal-banner" width="200px" src="{% static 'img/logo2.png' %}"/>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h1 class="text-xl text-center text-blue-900 font-semibold">Lo sentimos el lote esta <span id="h1"></span>.</h1>
      </div>
    </div>
  </div>

   <!-- Alerta Registrarse-->
   <div class="modal fade" id="alert_login" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header modalhead">
          <img class="modal-banner" width="200px" src="{% static 'img/logo2.png' %}"/>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h1 class="text-xl text-center text-blue-900 font-semibold">Debe iniciar sesión para continuar</h1>
      </div>
    </div>
  </div>
