{% load static %}
  <!-- Modal Registro-->
  <div class="modal-dialog  modal-dialog-centered modal-md" id="registro" role=" document">
        <div class="modal-content">
          <div class="modal-header modalhead">
            <img class="modal-banner" width="200px" src="{% static 'img/logo2.png' %}"/>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-6 flex flex-column  align-items-center">
            <h1 class="modal-title text-xl" id="exampleModalLabel"><i class="fas fa-clipboard-check"></i> Registrarse</h1>
            <form method="POST" action="{% url 'Registro' %}">
              {% csrf_token %}
              <div>
                <label for="recipient-email" class="col-form-label font-semibold text-sm"><i class="fas fa-at"></i> Email</label>
                <input type="email" class="form-control" name="email" id="recipient-email" placeholder="Email" required>
              </div>
                <div>
                  <label for="recipient-name" class="col-form-label font-semibold text-sm"><i class="fas fa-user"></i> Nombre</label>
                  <input type="text" class="form-control" name="username" id="recipient-name" placeholder="Nombre" required>
                </div>

              <div>
                <label for="pass-text" class="col-form-label font-semibold text-sm"><i class="fas fa-lock"></i> Contraseña:</label>
                <input type="password" class="form-control" name="password1" id="pass-text" placeholder="Contraseña" required>
              </div>
              <div class="mb-2">
                  <label for="pass-text-conf" class="col-form-label font-semibold text-sm"><i class="fas fa-lock-open"></i> Confirmar Contraseña:</label>
                  <input type="password" class="form-control" name="password2" id="pass-text-conf" placeholder="Confirmar Contraseña" required>
                </div>
              <div class="flex justify-content-center align-items-center">
                <button type="submit" class="btn-enviar"><i class="fas fa-clipboard-check"></i> Registrarse</button>
              </div>
            </form>
          </div>
          <div class="flex justify-content-end pr-6">
            <p class="pr-1">Ya tienes una cuenta?</p><a class="text-gray-700 transition-colors hover:text-blue-900 font-semibold cursor-pointer" onclick="Abrir_modal_login('{% url 'login' %}')" data-bs-dismiss="modal">Iniciar sesión</a>
          </div>
        </div>
    </div>

    <div class="modal fade" id="login" role="dialog"> </div>

    {% block scripts %}
    <script type="text/javascript">
        function Abrir_modal_login(url){
            $('#login').load(url, function(){
                $(this).modal('show');
            });
        }

        
    </script>

{% endblock scripts %}
