{% extends 'Admin/home.html' %}
{% load static %}

{% block title %} Usuarios {%endblock %}


{% block content %}

<div class="producto">
        <button type="button" class="btn btn-primary mb-2" onclick="Abrir_modal_Crear('{% url 'Admin:creaUsuario' %}')"><i class="fas fa-plus-circle"></i> Añadir
                Usuarios</button>

    <div class="card justify-content-center align-items-center">
        <table class=" w-9 p-4">
            <tr class="p-2 border-bottom-1 border-gray-400 font-semibold text-white text-xl bg-blue-700">
                <td class="pl-3">Nombre</td>
                <td>Email</td>
                <td>Rol</td>
                <td>Estado</td>
                <td class="flex justify-content-end align-items-center pr-3">Opciones</td>
            </tr>
            {% for post in posts %}
                <tr class="p-2 border-bottom-2 border-gray-400 font-semibold">
                        <td class="pl-3 p-2">
                            {{post.username}}
                        </td>
                        <td>
                            {{post.email}}
                        </td>
                        <td>
                            {{post.rol}}
                        </td>
                        <td>
                            {{post.estado}}
                        </td>
                        <td class="flex justify-content-end align-items-center pr-3 p-2"> 
                            <button class="border-none bg-blue-400 p-2 border-round mr-1" onclick="Abrir_modal_Edit_user('{% url 'Admin:editaUsuario' post.id_usuario %}')"><i class="fas fa-edit"></i></button>
                        <button class="border-none bg-pink-500 p-2 border-round" onclick="deleteuser({{ post.id_usuario }})"><i class="fas fa-trash-alt"></i></button>
                        </td> 
                </tr>
            {% endfor %}  
            </table>          
    </div>
</div>

<div class="modal fade" id="crear" role="dialog"> </div>
<div class="modal fade" id="editar" role="dialog"> </div>

{% endblock %}

{% block ExtraJS %}
    <script type="text/javascript">

function deleteuser(id){
            Swal.fire({
            title: 'Estás seguro?',
            text: "El usuario se eliminara permanentemente!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar!'
            }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "eliminar/"+id
                Swal.fire(
                'Borrado!',
                'El usuario ha sido eliminado',
                'success'
                )
            }
            })
        }

        function Abrir_modal_Crear(url){
            $('#crear').load(url, function(){
                $(this).modal('show');
            });
        }

        function Abrir_modal_Edit_user(url){
            $('#editar').load(url, function(){
                $(this).modal('show');
            });
        }

        
    </script>

{% endblock ExtraJS %}