{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="banner_about">
    <div class="px-8">
        <article class="md:flex md:justify-content-between align-items-center">
            <h1 class="texto text-4xl md:text-6xl text-blue-900 md:w-5 pt-4 font-semibold">¿Qué es Colina Campestre?</h1>
            <p class="texto info-banner text-sm md:text-lg text-white md:w-5 md:mt-6">
                Estamos prestos a brindar toda la información que requieras y lo mas importante a escuchar tus ofertas para que asi juntos logremos grandes cosas.
            </p>
        </article>
    </div>
</div>

<div class="bg-white grid grid-nogutter pb-5">
    <div class="px-8 py-4 col-12 md:col-6 flex flex-column">
        <p class="text-base md:text-lg text-gray-900">
            Colina Campestre mas que solo un condominio busca brindar a las personas un lugar inmerso en naturaleza sin perjudicar la misma. Contamos con zonas protegidas así como zonas sociales para la comodidad de cada uno de los propietarios.
        </p>
        <br>
        <p class="text-base md:text-lg  w-full text-gray-900">
            Ofrecemos lotes con servicios para que puedas construir tu casa soñada en el mejor lugar, alejado del bullicio de la ciudad y con la mejor planeación para que así puedas vivir con la mayor comodidad posible.
        </p>
    </div>
    <div class="col-12 md:col-6 flex justify-content-center pt-4 h-full">
        <img src="{% static 'img/img8.jpg'%}"  alt="" class="img_about">
    </div>
</div>

<div class="bg-gray-100 flex flex-column justify-content-center align-items-center py-4">
    <h1 class="text-blue-900 text-center font-semibold">Colina Campestre es uno con la Naturaleza</h1>
    <div class="flex flex-wrap justify-content-evenly mt-4 w-10">
        <div class="carta" style="--i:url(/static/img/img6.jpg)">
            <div class="content">
                <h2 class="text-white font-semibold text-3xl">Naturaleza</h2>
            </div>
        </div>
        <div class="carta" style="--i:url(/static/img/img2.jpg)">
            <div class="content">
                <h2 class="text-white font-semibold text-3xl">Fuentes Hídricas</h2>
            </div>
        </div>
        <div class="carta" style="--i:url(/static/img/img5.jpg)">
            <div class="content">
                <h2 class="text-white font-semibold text-3xl">Bosques protegidos</h2>
            </div>
        </div>
        <div class="carta" style="--i:url(/static/img/img3.jpg)">
            <div class="content">
                <h2 class="text-white font-semibold text-3xl">Excelente vista</h2>
            </div>
        </div>
        <div class="carta" style="--i:url(/static/img/img1.jpg)">
            <div class="content">
                <h2 class="text-white font-semibold text-3xl">Paisajes</h2>
            </div>
        </div>
        <div class="carta" style="--i:url(/static/img/img7.jpg)">
            <div class="content">
                <h2 class="text-white font-semibold text-3xl">Zona de Camping</h2>
            </div>
        </div>
    </div>
</div>

<div class="section2_acerca_de flex flex-column justify-content-center align-items-center bg-white w-full md:py-4">
    <h1 class="md:text-center text-5xl text-blue-900 font-semibold">Ubicación</h1>
    <img src="{% static 'img/img9.jpg'%}" alt="ubicacion" class="img_ubicacion">
</div>

{% include 'layouts/partials/footer.html' %}
{% endblock  %}