{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Colina Campestre{% endblock%}

{% block content %}
<div class="banner">
<div class="px-3 md:px-8 pt-5 flex flex-column align-content-start justify-content-center">
    <article class="flex flex-column">
        <h1 class="texto text-5xl md:text-6xl w-full w-12 md:w-5 text-blue-900 font-semibold">Condominio Colina Campestre</h1>
        <p class="texto text-lg  w-full md:w-5 text-gray-900">
            Un condominio ubicado en la parte alta de Acacías a tan solo 2 horas de Bogotá y que ofrece un excelente ambiente inmerso en la naturaleza para disfrutar en familia.
        </p>
    </article>
    <div class="md:m-2 mt-2 mb-4 grid grid-nogutter justify-content-center md:justify-content-start md:w-5">
        <div class="mr-3 bg-white card col-5 h-15rem px-2 py-4 mb-2 flex flex-column justify-content-evenly align-items-center border-none">
            <img src="{% static 'img/icono1.png' %}" alt="" width="30%">
            <span class="md:text-2xl font-semibold text-blue-900">230+</span>
            <span class="md:text-sm text-blue-800 mb-2 text-center">Lotes disponibles.</span>
            <div class="">
                <a class="btn-card btn-lotes" href="#mapa">Ir al mapa.</a>
            </div>
        </div>
        <div class="bg-white card col-5 h-15rem px-2 py-4 mb-2 flex flex-column justify-content-evenly align-items-center border-none">
            <img src="{% static 'img/icono2.png' %}" alt="" width="30%">
            <span class="md:text-2xl font-semibold text-blue-900">15+</span>
            <span class="md:text-sm text-blue-800 mb-2 text-center">Localidades para elegir.</span>
            <div class="">
                <a class="btn-card btn-local" href="#infografia">Ver más</a>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-content-center align-items-center mt-2 pb-5 md:pt-0">
        <a class="btn-scroll" href="#section1">←Scroll</a>
    </div>
</div></div>
<div id="section1" class="section1 px-2 flex flex-column justify-content-center align-items-center py-4">
    <h2 class="text-4xl font-semibold text-center">Una gran experiencia para tí</h2>
    <p class="text-gray-900 text-center w-10">
        En Condominio Colina Campestre nos centramos en brindar a los propietarios de cada lote el mejor espacio para vivir así como los mejores espacios sociales para disfrutar al máximo.
    </p>
    <p class="text-gray-900 text-center">
        Contamos con licencias pertinentes por parte de la administracion municipal.
    </p>
    <p class="text-gray-900 text-center">
        <b>Licencia de Urbanismo #0307 de 2016 </b>emitida por la oficina de planeación y Vivienda municipal.
    </p>
    <div class="flex flex-wrap justify-content-evenly mt-4 w-full">
        <img src="{% static 'img/alcaldia.png'%}" alt="" height="80px">
        <img src="{% static 'img/urbanizacion.png'%}" alt="" height="80px">
        <img src="{% static 'img/planeacion.webp'%}" alt="" height="80px">
    </div>
</div>

<div class="section_img">
    <div class="section_img_info flex flex-column md:align-items-start justify-content-center w-6 md:w-5 py-5 md:py-7 pl-2 md:pl-5">
        <h2 class="md:text-4xl font-semibold">¿Deseas Disfrutar De Esta Vista Todos Los Días?</h2>
        <p class="text-sm"> Estamos listos para brindarte toda la información y que pronto puedas disfrutar de tu hogar en el mejor lugar.</p>
        <div class="md:mt-4 ml-0">
            <a class="btn-card btn_section_img" href="{% url 'contacto' %}">Contáctanos →</a>
        </div>
    </div>
</div>

<section class="bg-gray-100 py-4 w-full">
    <h1 class="text-xl text-center text-4xl text-blue-900 font-semibold">Mira todo lo que tenemos para tí</h1>
    <p class="text-gray-900 text-center">
        Te ofrecemos la mejor experiencia con la naturaleza, podrás disfrutar de una excelente vista, los mejores amaneceres, fuentes hídricas y bosques.
    </p>
    <div class="grid grid-nogutter justify-content-center pt-4">
        <div class="md:mr-3 bg-white card col-8 md:col-2 h-15rem px-2 py-4 mb-2 flex flex-column justify-content-evenly align-items-center border-none">
            <img src="{% static 'img/icono3.png' %}" alt="" width="50%" class="icon">
            <span class="text-xl text-center md:text-lg font-semibold text-blue-900">Excelente Vista</span>
        </div>
        <div class="md:mr-3 bg-white card col-8 md:col-2 h-15rem px-2 py-4 mb-2 flex flex-column justify-content-evenly align-items-center border-none">
            <img src="{% static 'img/icono4.png' %}" alt="" width="50%" class="icon">
            <span class="text-xl text-center md:text-lg font-semibold text-blue-900">Bosques Protegidos</span>
        </div>
        <div class="md:mr-3 bg-white card col-8 md:col-2 h-15rem px-2 py-4 mb-2 flex flex-column justify-content-evenly align-items-center border-none">
            <img src="{% static 'img/icono5.png' %}" alt="" width="50%" class="icon">
            <span class="text-xl text-center md:text-lg font-semibold text-blue-900">Fuentes Hídricas</span>
        </div>
        <div class="md:mr-3 bg-white card col-8 md:col-2 h-15rem px-2 py-4 mb-2 flex flex-column justify-content-evenly align-items-center border-none">
            <img src="{% static 'img/icono6.png' %}" alt="" width="50%" class="icon">
            <span class="text-xl text-center md:text-lg text-center font-semibold text-blue-900">Senderos Ecológicos</span>
        </div>
        <div class="md:mr-3 bg-white card col-8 md:col-2 h-15rem px-2 py-4 mb-2 flex flex-column justify-content-evenly align-items-center border-none">
            <img src="{% static 'img/icono7.png' %}" alt="" width="50%" class="icon">
            <span class="text-xl text-center md:text-lg font-semibold text-blue-900">Zona de Camping</span>
        </div>
    </div>
</section>

<div class="section4 bg-white grid grid-nogutter pt-4 mb-8 md:mb-0 md:pt-0">
    <div class="col-12 md:col-6 flex justify-content-center align-items-center">
        <img src="{% static 'img/img8.jpg'%}" alt="foto_colina"  class="img_section4 pb-3 md:pb-0">
    </div>
    <div class="col-12 md:col-6 flex flex-column md:justify-content-evenly justify-content-center align-items-center md:align-items-start md:py-8">
        <h2 class="texto text-3xl md:text-3xl text-blue-900 w-10 font-semibold">¿Qué esperas para unirte al proyecto Colina Campestre Acacias?</h2>
        <p class="texto text-gray-700 text-lg w-10">
            Vive la naturaleza en todo su espléndor y empieza una nueva vida con nosotros.
        </p>
        <div class="mt-4">
            <a class="btn-card btn-local" href="{% url 'about' %}">Conoce más!</a>
        </div>
    </div>
</div>

<div id="infografia" class="flex flex-column justify-content-center align-items-center bg-gray-200 w-full py-6">
    <h1 class="text-4xl md:text-5xl text-center text-blue-900 font-semibold">Condominio Colina Campestre</h1>
    <img src="{% static 'img/info.jpg'%}" alt="infografia" class="img_infografia">
</div>

<div id="mapa" class="bg-white py-5">
    <h1 class="text-4xl md:text-6xl text-center text-blue-900 font-semibold">Elige el lote para iniciar tu nueva vida</h1>
    <div class="flex justify-content-evenly">
        <p class="text-sm md:text-xl font-semibold"><i class="fas fa-circle text-2xl md:text-3xl text-white border-1 border-gray-900 border-circle"></i>Disponible</p>
        <p class="text-sm md:text-xl font-semibold"><i class="fas fa-circle reservado text-2xl md:text-3xl border-1 border-gray-900 border-circle"></i>Reservado</p>
        <p class="text-sm md:text-xl font-semibold"><i class="fas fa-circle vendido text-2xl md:text-3xl border-1 border-gray-900 border-circle"></i>Vendido</p>
    </div>
    {% include 'layouts/partials/mapa.html' %}
</div>
<h1 class="text-4xl md:text-6xl text-center text-blue-900 font-semibold">Te esperamos!!!</h1>


<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>


    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div class="flex justify-content-center align-items-center border-round">
    <div id="mc_embed_signup" class="bg-blue-100 p-2">
        <form action="https://gmail.us17.list-manage.com/subscribe/post?u=890ceec49c2c0193da368ed32&amp;id=c430d47f50&amp;f_id=003b65e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>Suscribete a Colina Campestre</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
    </div>
    <div class="mc-field-group">
        <label for="mce-FNAME">Full Name  <span class="asterisk">*</span>
    </label>
        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" required>
        <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
    </div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_890ceec49c2c0193da368ed32_c430d47f50" tabindex="-1" value=""></div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" value="Suscribete" name="subscribe" id="mc-embedded-subscribe" class="btn-enviar w-5">
                    <p class="brandingLogo"><a href="http://eepurl.com/ij5TbD" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_light_dtp.svg"></a></p>
                </div>
            </div>
        </div>
    </form>
    </div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

{% include 'layouts/partials/footer.html' %}

{% endblock  %}

