<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <a href="{% url 'Users:inicioUsuario' %}">click aqui Inicio Usuario</a>
    <br>
    <a href="{% url 'Admin:inicioAdmin' %}">click aqui Admin</a>
    <br>
    {{error}}
    <br>
  <form method="POST">
    {% csrf_token %}
    <div><!--row-->
          <label> Username </label>
          <input type="text" name="username">
    <div>
      <div><!--row-->
            <label> Email </label>
            <input type="email" name="email">
      <div>
    <div><!--row-->
          <label> Constraseña </label>
          <input type="password" name="password1">
    <div>
   <div><!--row-->
            <label> Confirmar contraseña </label>
            <input type="text" name="password2">
      <div>
    <button type="submit"> Guardar </button>
  </form
  </body>
</html>
