{% extends 'Admin/Terrenos/terrenos.html' %}
{% load static %}

{% block modal %}

{% comment %} <div class="contenedor-modal" id="modalCreateTerreno">
    <div class="moda">

        <form method="POST">
            {% csrf_token %} 

            <div class="informacion">
                <h3 class="page__heading">Editar Animal</h3>
                    matricula{{form.matricula}}
                    <br />
                    ancho{{form.ancho}}
                    <br />
                    largo{{form.largo}}
                    <br />
                    precio{{form.precio}}
                    <br />
                    zona{{form.zona}}
                    <br />
                    estado{{form.estado}}
                    <br />
                    servicio{{form.servicio}}
                    <br />
                    <button type="submit">submit</button>
            </div>
        </form>
        <a href="#" class="btn-close-modal">X</a>
    </div>
</div> {% endcomment %}

hoal
{% endblock %}