{% extends 'Admin/home.html' %}
{% load static %}

{% block title %} Terrenos {%endblock %}


{% block content %}

<div class="producto">
    <div class="card" style="flex-direction: row-reverse">
        <button type="button" class="btn btn-primary" onclick="Abrir_modal_Crear('{% url 'Admin:creaTerreno' %}')">Añadir
                Terreno</button>
    </div>

    <div class="card" id="centro">
        <div class="items">
            {% for post in posts %}
            <div class="cards">
                <div class="cards1">
                    <div class="picture">
                        <img src="{% static 'img/CasaProvisional.jpg' %}" alt="" />
                    </div>
                    <div class="description">
                        <div><a>N° Registro: {{post.matricula}}</a></div>
                        <div><a>Dimensiones: {{post.largo}}m X {{post.ancho}}m</a></div>
                        <div><a>Precio: ${{post.precio}}</a></div>
                    </div>
                    <div class="opcionesAdmin">
                        <a href=""><img src="{% static 'img/editar.png' %}" alt="" /></a>
                        <a href=""><img src="{% static 'img/delete.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>
    </div>
</div>

<div class="modal fade" id="crear" role="dialog"> </div>

{% endblock %}

{% block ExtraJS %}
    <script type="text/javascript">
        function Abrir_modal_Crear(url){
            $('#crear').load(url, function(){
                $(this).modal('show');
            });
        }
        
    </script>

{% endblock ExtraJS %}