<div class="modal-dialog modal-dialog-centered modal-md" role=" document">
    <div class="modal-content">
        <div class="modal-header bg-blue-900">
            <h3 class="text-blue-900 text-3xl text-white font-semibold"><i class="fas fa-file-alt"></i> Editar Servicio</h3>
            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{% url 'Admin:editaServicio' object.id_servicio%}">
            
            {% csrf_token %}
            <div class="modal-body">
                <li class="border-bottom-1 border-300 p-2 flex justify-content-between"><b><i class="fa-solid fa-address-card"></i> Tipo</b><span>{{form.tipo}}</span></li>
                <li class="border-bottom-1 border-300 p-2 flex justify-content-between"><b><i class="fa-sharp fa-solid fa-map-location-dot"></i> Precio</b><span>{{form.precio}}</span></li>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit" onclick="Editar_servicio()">Confirmar</button>
            </div>
        </form>

    </div>
</div>

<script>
    function Editar_servicio(){
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Servicio editado con éxito!',
            showConfirmButton: false,
            timer: 1500,
});
    }
</script>